.container {
  /* padding: 0 2rem; */
}

.main {
  min-height: 100vh;
  width: 100vw;
  /* padding: 4rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1em 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  align-items: stretch;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}

.cover {
  padding: 2em 0.5em 2em 0.5em;
  background-color: #9caca5;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 4rem;
  padding-bottom: 0.25em;
}

.title,
.subtitle,
.sectionTitle {
  text-align: center;
}

.subtitle {
  padding: 0.5em;
  line-height: 1.8;
  font-size: 1.25em;
  width: 75%;
}

.work {
  padding: 2em 0.5em 2em 0.5em;
}

.sectionTitle {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 2.5em;
}

.achievements {
  padding: 2em 0.5em 2em 0.5em;
  background-color: #c1d0c0;
  /* background-color: #D0D9CD; */
}

.leadership {
  padding: 2em 0.5em 2em 0.5em;
}

.timelineText {
  line-height: 2em;
}